<div class="col-12  col-md-10 ">
    <div class="row ro py-1">
      <h2>Commandes</h2>
      <div class="trait"></div>
      <div class="position">
        <!-- <button (click)="exportToExcel()" class="btn btnAjouter">Exporter le fichier</button> -->
        <form action="">
          <button class="btn btnAjouter recherche" style="display:flex ;"><i class="bi bi-search "></i> <input
              type="text" style=" border: 0; background: transparent; font-size: 12px; " name="searchText"
              [(ngModel)]="searchText"></button>
        </form>
      </div>

    


      <table class="table table-striped">
        <thead>
          <tr>
            <th>Date</th>
            <th>Code</th>
            <th>Statut</th>
            <th>Panier</th>
            <th>Voir</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let commande of commandes">
            <td>{{commande.date}}</td>
            <td>{{commande.code}}</td>
            <td>
                <select name="statut" id="statut-select">
                <!-- <option value="">--Statut--</option> -->
                <option >{{commande.statut}}</option>
                <!-- <option value="1">{{commande.statut}}</option> -->
                <!-- <option value="2">{{commande.statut}}</option> -->

               
            </select>
            
          </td>
            <td>{{commande.panier.id}}</td>
            <td>Voir plus</td>
            <td>
                <i class="bi bi-pencil-square i" [routerLink]=""></i>&nbsp; &nbsp;
                &nbsp; <button><i class="bi bi-trash-fill i"></i></button>
            </td>
          </tr>
         
        </tbody>
      </table>

    </div>
  </div>
