
.cad{
    padding-bottom: 80px;
  }

  .icon{
    display: flex;
    grid-template-columns: auto auto;
    size: 100px;
  }
  .supprimer{
    margin-left: 80%;
    font-size: 20px;

  }
  .bt{
    display: flex;
    grid-template-columns: auto auto;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.3);
  }

  .card-image{
    height: 100px;
  }
//   .card-image img{

//   }