
.cad{
    padding-bottom: 80px;
  }

  .icon{
    display: flex;
    grid-template-columns: auto auto;
    size: 100px;
    color: #E38800;
  }
  .supprimer{
    margin-left: 80%;
    font-size: 20px;

  }
  // .bt{
  //   display: flex;
  //   grid-template-columns: auto auto;
  //   box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.3);
  // }
  
  .image{
    height: 150px;
  }

  .entete{
    display: flex;
    flex-direction: row;
  justify-content: space-around;
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.3);
  background-color: white;

  }

  .header{
    margin-left: 20px;  }
//   .card-image img{

//   }

.stock{
  font-size: 20px;
  color: #E38800;
}