<div
  class="container-fluid h-100 ici"
  style="overflow: scroll; overflow-x: hidden"
>
  <div class="row">
    <div class="col-12 col-md-12">
      <section class="row gy-3 py-3 set">
        <div class="col-6 col-md-6 pt-3">
          <div class="card bg">
            <div class="haut">
              <p class="pcard">{{afficherBoutique.length }}</p>

              <div class="icon">
                <i class="bi bi-shop-window"></i>
              </div>
            </div>
            <p class="textcard">Totals boutiques</p>
          </div>
        </div>
        <!-- <div class="col-6 col-md-3 pt-3">
          <div class="card bg1">
            <div class="haut">
              <p class="pcard">200</p>
              <div class="icon">
                <i class="bi bi-shop-window"></i>
              </div>
            </div>
            <p class="textcard">Totals revenus(annuel)</p>
          </div>
        </div> -->
        <div class="col-6 col-md-6 pt-3">
          <div class="card user">
            <div class="haut">
              <p class="pcard">{{user.length }}</p>
              <div class="icon">
                <i class="fa-solid fa-user"></i>
              
              </div>
            </div>
            <p class="textcard">Totals utilisateurs</p>
          </div>
        </div>
        <!-- <div class="col-6 col-md-3 pt-3">
          <div class="card bg">
            <div class="haut">
              <p class="pcard">200</p>
              <div class="icon">
                <i class="bi bi-shop-window"></i>
              </div>
            </div>
            <p class="textcard">Totals revenus(mensuel)</p>
          </div>
        </div> -->
      </section>
    </div>
    <!--Partie courbe(chart)------------------------------------------------------->
    <div class="card"> </div>

    <!-- <div class="container">
      <div class="row">
        <div class="col-12 col-md-12">
          <section class="row gy-3">
            <div class="col-6 col-md-8 pt-3">
              <div class="chart-container">
                <canvas id="MyChart">{{ chart }}</canvas>
              </div>
            </div>
            <div class="col-6 col-md-4 pt-3">
              <div class="chart-container">
                <canvas id="pieChart">{{ Piecharts }}</canvas>
              </div>
            </div>
          </section>
        </div>
      </div>
    </div> -->
<div class="liste text-center pt-3 ">
  Les differentes boutiques 
</div>




    <div class="mb-3 ml-2" id="boutique">
    <button class="btntu">
      <a
      data-bs-toggle="modal"
      href="#exampleModal"
      data-bs-whatever="@getbootstrap"
      class="lien"
      >
        <i class="fa-solid fa-plus"></i>
        Ajouter une boutique
     </a
    >
    </button>
    </div>
   
   
   
  </div>
  <style>
    .ici::-webkit-scrollbar {
      display: none;
    }
  </style>

  <!-- <div class="row pt-3" id="#boutique">
    <div
      class="col-12 col-md-6 col-lg-3 cad"
      *ngFor="let boutique of afficherBoutique"
    >
      <div class="card milieu">
        <div class="changeEtat">
          <div class="b">
            <button class="change"  (click)="ChangeEtat(boutique.id,!boutique.etat)">Changer l'état</button>
  
          </div>
          <div >
            
            <p> Etat: {{ boutique.etat }}</p>
            - <p>Eat: {{etat.etatchange}}</p> --
  
          </div>
        </div>
        
        <img
          src="{{ boutique.image }}"
          alt="Image"
          style="width: 95%; height: 35%"
        />
        <div class="boutique">
          <h4 class="h3 card-title text-center">{{ boutique.nom }}</h4>
          <p class="card-text text">{{ boutique.description }}</p>
          <p><span class="fa fa-star checked"></span></p>

          <div class="lien">
            <div class="modifie">
              <i
                class="bi bi-pencil-square i"
                [routerLink]="['/sidebar/dashboard/', boutique.id]"
                data-bs-toggle="modal"
                href="#modifierModal"
              ></i>
            </div>
             <button *ngIf="boutique.etat==true" (click)="ChangeEtat(boutique.id,false)">Changer l'état</button> -
            <div class="delete"><i class="bi bi-trash-fill i"></i></div>
          </div>
        </div>
      </div>
    </div> -->
    <div class="container" style="margin-bottom: 20vh;">
      <div class="row">
        <div class="col-12 col-md-4 col-lg-3"  *ngFor="let boutique of afficherBoutique.slice().reverse() | paginate:{ itemsPerPage: 4, currentPage: p}">
          <div class="card mb-3">
            <img src="{{boutique.image}}" alt="Image boutique" class="card-img-top"/>
            <div class="card-body">
              <p class="text-center title">{{boutique.nom}}</p>
              <p class="card-text text">{{boutique.description}}</p>
              <div class="row">
                <div class="col-12 col-md-6 ">
                  <div>
                  <p><span class="fa fa-star checked"></span></p>

                  </div>
                  
                </div>
                <div class="col-6 col-md-5">

                  <div class="iconss justify-content-center">
                    <div class="d-flex">
                      <i class="bi bi-pencil-square i" data-bs-toggle="modal" href="#modifierModal" (click)="getboutiquebyid(boutique.id)"></i>
                      <!-- <i class="bi bi-trash" (click)="openModal(boutique.nom, boutique.id)"></i> -->
                    </div>
                    
                  </div>
                  
                </div>
                <div class="changeEtat">
                  <div class="b">
                    <button class="change"  (click)="ChangeEtat(boutique.id,!boutique.etat)">Changer l'état</button>
          
                  </div>
                  <div >
                    
                    <p> Etat: {{ boutique.etat}}</p>
          
                  </div>
                </div>
              </div>
            </div>
          </div>
          
          
        </div>
         <pagination-controls (pageChange)="p =$event" class="text-center" nextLabel="Suivants"
      previousLabel="Précédents"></pagination-controls>
      
      </div>
    
    </div>
   
    <!-- Partie poup pour le formulaire de creation d'une boutique -->

    <div
      class="modal fade"
      id="exampleModal"
      tabindex="-1"
      aria-labelledby="exampleModalLabel"
      aria-hidden="true"
    >
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title text-center" id="exampleModalLabel">
              Ajouter une Boutique
            </h5>
            <button
              type="button"
              class="btn-close"
              data-bs-dismiss="modal"
              aria-label="Close"
            ></button>
          </div>
          <div class="modal-body">
            <form
              *ngIf="!isLoggedIn"
              name="form"
              (ngSubmit)="f.form.valid && ajoutBout()"
              #f="ngForm"
              novalidate
            >
              <div class="row justify-content-between text-left mb-3">
                <div class="form-group col-sm-6 flex-column d-flex">
                  <label class="col-form-label">Nom :</label>
                  <input
                    type="text"
                    class="form-control"
                    id="nom"
                    name="boutique.nom"
                    [(ngModel)]="boutique.nom"
                    required
                    #nom="ngModel"
                    [ngClass]="{ 'is-invalid': f.submitted && nom.errors }"
                  />
                  <div
                    *ngIf="nom.errors && f.submitted"
                    class="invalid-feedback"
                  >
                    Le nom de la boutique est obligatoire
                  </div>
                </div>
                <div class="form-group col-sm-6 flex-column d-flex">
                  <label class="col-form-label">Description :</label>
                  <input
                    type="text"
                    class="form-control"
                    id="description"
                    name="boutique.description"
                    [(ngModel)]="boutique.description"
                    required
                    #description="ngModel"
                    [ngClass]="{
                      'is-invalid': f.submitted && description.errors
                    }"
                  />
                  <div
                    *ngIf="description.errors && f.submitted"
                    class="invalid-feedback"
                  >
                    La description de la boutique est obligatoire
                  </div>
                </div>
              </div>

              <div class="row justify-content-between text-left mb-3">
                <div class="form-group col-sm-6 flex-column d-flex">
                  <label class="col-form-label">Adresse :</label>
                  <input
                    type="text"
                    class="form-control"
                    id="adresse"
                    name="boutique.adresse"
                    [(ngModel)]="boutique.adresse"
                    required
                    #adresse="ngModel"
                    [ngClass]="{ 'is-invalid': f.submitted && adresse.errors }"
                  />
                  <div
                    *ngIf="adresse.errors && f.submitted"
                    class="invalid-feedback"
                  >
                    L'adresse de la boutique est obligatoire
                  </div>
                </div>

                <div class="form-group col-sm-6 flex-column d-flex">
                  <label class="col-form-label">Boutiquier</label>
                  <input
                    type="number"
                    class="form-control"
                    id="user_id"
                    name="boutique.user_id"
                    [(ngModel)]="boutique.user_id"
                    required
                    #user_id="ngModel"
                    [ngClass]="{ 'is-invalid': f.submitted && user_id.errors }"
                  />
                  <div
                    *ngIf="user_id.errors && f.submitted"
                    class="invalid-feedback"
                  >
                    User de la boutique est obligatoire
                  </div>
                </div>
              </div>

              <div class="row justify-content-between text-left mb-2">
                <div class="form-group col-sm-6 flex-column d-flex">
                  <input
                    type="file"
                    class="custom-file-input"
                    id="inputGroupFile01"
                    aria-describedby="inputGroupFileAddon01"
                    (change)="fileChang($event)"
                  />
                  <label class="custom-file-label" for="inputGroupFile01"
                    >Choisi une image</label
                  >
                </div>
                 <!-- <div class="form-group col-sm-6 flex-column d-flex">
                  <select
                    name="etat"
                    id="sexe"
                    class="form-select form-control"
                    [(ngModel)]="etat"
                  >
                    <label for="etat">--Etat--</label>

                    <option value="0">false</option>
                    <option value="1">true</option>
                  </select>
                </div>  -->
              </div>
              <div class="valide">
                <div>
                  <button type="submit" class="bt">Ajouter</button>

                </div>
                <div class="fermer">
                  <button
                  type="button"
                  class=" btn-secondary"
                  data-bs-dismiss="modal"
                >
                  fermer
                </button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>

<!-- PARTIE Popop DU ModifiCATION--> 

    <div
      class="modal fade"
      id="modifierModal"
      tabindex="-1"
      aria-labelledby="modifierModalLabel"
      aria-hidden="true"
    >
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title text-center" id="modifierModalLabel">
              Modifier une Boutique
            </h5>
            <button
              type="button"
              class="btn-close"
              data-bs-dismiss="modal"
              aria-label="Close"
            ></button>
          </div>
          <div class="modal-body">
            <form
              name="form"
              (ngSubmit)="f.form.valid && modifierBout(maboutique.id)"
              #f="ngForm"
              novalidate
            >
              <div class="row justify-content-between text-left mb-3">
                <div class="form-group col-sm-6 flex-column d-flex">
                  <label class="col-form-label">Nom :</label>
                  <input
                    type="text"
                    class="form-control"
                    id="nom"
                    [value]="maboutique.nom"
                    [(ngModel)]="maboutique.nom"
                    [ngModelOptions]="{standalone: true}"
                    />
                 
                </div>
                <div class="form-group col-sm-6 flex-column d-flex">
                  <label class="col-form-label">Description :</label>
                  <input
                    type="text"
                    class="form-control"
                    id="description"
                    [value]="maboutique.description"

                    [(ngModel)]="maboutique.description"
                    [ngModelOptions]="{standalone: true}"
                   
                  />
                </div>
                <div class="row justify-content-between text-left mb-3">
                  <div class="form-group col-sm-6 flex-column d-flex">
                    <label class="col-form-label">Adresse :</label>
                    <input
                      type="text"
                      class="form-control"
                      id="adresse"
                      [value]="maboutique.adresse"
                      [(ngModel)]="maboutique.adresse"
                      [ngModelOptions]="{standalone: true}"
                      
                      
                      />
                   
                  </div>
                  <div class="form-group col-sm-6 flex-column d-flex">
                    <label class="col-form-label">Boutiquier :</label>
                    <input
                      type="text"
                      class="form-control"
                      id="user_id"
                      [value]="maboutique.user_id"
                      [(ngModel)]="maboutique.user_id"
                      [ngModelOptions]="{standalone: true}"
  
                     
                    />
                  </div>
                </div>
                <div class="form-group col-sm-6 flex-column d-flex">
                  <input
                    type="file"
                    class="custom-file-input"
                    id="inputGroupFile01"
                    aria-describedby="inputGroupFileAddon01"
                    (change)="onFileChange($event)"
                  />
                  <label class="custom-file-label" for="inputGroupFile01"
                    >Choisi une image</label
                  >
                </div>
             <!--      <div class="form-group col-sm-6 flex-column d-flex">
                  <label class="col-form-label">Description :</label>
                  <input
                    type="text"
                    class="form-control"
                    id="description"
                    name="boutique.description"
                    [(ngModel)]="boutique.description"

                    [(ngModel)]="affich.description"
                    required
                    #description="ngModel"
                    [ngClass]="{
                      'is-invalid': f.submitted && description.errors
                    }"
                  />
                  <div
                    *ngIf="description.errors && f.submitted"
                    class="invalid-feedback"
                  >
                    La description de la boutique est obligatoire
                  </div>
                </div>
              </div>

              <div class="row justify-content-between text-left mb-3">
                <div class="form-group col-sm-6 flex-column d-flex">
                  <label class="col-form-label">Adresse :</label>
                  <input
                    type="text"
                    class="form-control"
                    id="adresse"
                    name="boutique.adresse"
                    [(ngModel)]="boutique.adresse"

                    [(ngModel)]="affich.adresse"
                    required
                    #adresse="ngModel"
                    [ngClass]="{ 'is-invalid': f.submitted && adresse.errors }"
                  />
                  <div
                    *ngIf="adresse.errors && f.submitted"
                    class="invalid-feedback"
                  >
                    L'adresse de la boutique est obligatoire
                  </div>
                </div>

                <div class="form-group col-sm-6 flex-column d-flex">
                  <label class="col-form-label">user_id :</label>
                  <input
                    type="number"
                    class="form-control"
                    id="user_id"
                    name="boutique.user_id"
                    [(ngModel)]="boutique.user_id"

                    [(ngModel)]="affich.user_id"
                    required
                    #user_id="ngModel"
                    [ngClass]="{ 'is-invalid': f.submitted && user_id.errors }"
                  />
                  <div
                    *ngIf="user_id.errors && f.submitted"
                    class="invalid-feedback"
                  >
                    User de la boutique est obligatoire
                  </div>
                </div>
              </div>

              <div class="row justify-content-between text-left mb-2">
                <div class="form-group col-sm-6 flex-column d-flex">
                  <input
                    type="file"
                    class="custom-file-input"
                    id="inputGroupFile01"
                    aria-describedby="inputGroupFileAddon01"
                    (change)="fileChang($event)"
                  />
                  <label class="custom-file-label" for="inputGroupFile01"
                    >Choisi une image</label
                  >
                </div>
                <div class="form-group col-sm-6 flex-column d-flex">
                  <select
                    name="etat"
                    id="sexe"
                    class="form-select form-control"
                    [(ngModel)]="affich.etat"
                  >
                    <label for="etat">--Etat--</label>

                    <option value="0">false</option>
                    <option value="1">true</option>
                  </select>
                </div>-->
              </div> 
              <div class="valide">
                <div class="text-center">
                  <button type="submit" class="bt">Modifier</button>

                </div>
                <!-- <div class="fermer">
                  <button
                  type="button"
                  class=" btn-secondary"
                  data-bs-dismiss="modal"
                >
                  fermer
                </button>
                </div> -->
              </div>
            
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
  














<!-- La partie avec 4 CARDS -->

<!-- <section class="row gy-3 py-3 set">
  <div class="col-6 col-md-3 pt-3">
    <div class="card bg">
      <div class="haut">
        <p class="pcard">{{ afficherBoutique.length }}</p>

        <div class="icon">
          <i class="bi bi-shop-window"></i>
        </div>
      </div>
      <p class="textcard">Totals boutiques</p>
    </div>
  </div>
  < <div class="col-6 col-md-3 pt-3">
    <div class="card bg1">
      <div class="haut">
        <p class="pcard">200</p>
        <div class="icon">
          <i class="bi bi-shop-window"></i>
        </div>
      </div>
      <p class="textcard">Totals revenus(annuel)</p>
    </div>
  </div> --
  <div class="col-6 col-md-3 pt-3">
    <div class="card user">
      <div class="haut">
        <p class="pcard">{{ user.length }}</p>
        <div class="icon">
          <i class="fa-solid fa-user"></i>
        
        </div>
      </div>
      <p class="textcard">Totals utilisateurs</p>
    </div>
  </div>
  <div class="col-6 col-md-3 pt-3">
    <div class="card bg">
      <div class="haut">
        <p class="pcard">200</p>
        <div class="icon">
          <i class="bi bi-shop-window"></i>
        </div>
      </div>
      <p class="textcard">Totals revenus(mensuel)</p>
    </div>
  </div>
</section> -->