
.card  {
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.3);
    height: 100px;
     
  }
  .btntu  {
    background-color: #E38800;
    text-decoration: none;
    color: white;
    box-shadow: 1px 1px 10px #E38800 ;
    


     
  }
  .textcard{
    color: white;
  }
 

  .pcard {
    vertical-align: inherit;
    font-size: 2rem;
    font-weight: lighter;
    color: white;
  }
  .haut{
    display: flex;
  
 
}
.bg{
  background-color: #84BD24;

}
.bg1{
  background-color: #E38800;
}
.user{
  background-color: #4D819E;
}


.icon{
    margin-left: 160px;
    font-size: 30px;
    color: white;
}

.checked {
  color: #84BD24;
}


.bt{
  background-color: #E38800;
  text-decoration: none;
}
.lien, .modifi {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  color: #E38800;
  margin: 10px;
  font-size: 30px;
}
.cad{
  padding-bottom: 80px;
}
.boutique{
  font-size: 10px;}
h4{
  font-size: 20px;
}
.milieu{
  height: 290px; 
  width: 240px;
}
.text{
  font-size: 12px;
  
}
.etat{
  margin-left: 80%;
  color:#E38800;
}
.modifi{
  margin-bottom: 30px;
}

.change{
  font-size: 15px;
  text-decoration: none;
  border: none;
  box-shadow: #84BD24;
  height: 25px;
  color: #84BD24;
  text-align: center;
}
.changeEtat{
  display: flex;
  justify-content: space-around ;

}