
.card {
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.3);
     
  }
  .pcard {
    vertical-align: inherit;
    font-size: 2rem;
    font-weight: lighter;
  }
  .haut{
    display: flex;
  
 
}

.bg{
  background-color: #84BD24;

}
.bg1{
  background-color: #E38800;
}


.icon{

    margin-left: 160px;
    font-size: 30px;
}
p{
    margin-left: 5px;
}
.checked {
  color: #84BD24;
}


.bt{
  background-color: #E38800;
  text-decoration: none;

}
.lien{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  color: #E38800;
  margin: 20px;
  font-size: 30px;

}
.cad{
  padding-bottom: 80px;
}

