<div class="container">
  <div class="row">
    <div class="col-12 col-md-12">
        <section class="row gy-3 py-3 set">
          <div class="col-6 col-md-3 pt-3">
            <div class="card">
              
              <div class="haut">
                <p class="pcard">200</p>
                <i class="bi bi-shop-window"></i>

              </div>
              <p class="textcard">Toutes les boutiques</p>
            </div>
          </div>
          <div class="col-6 col-md-3 pt-3">
            <div class="card">
              
              <div class="haut">
                <p class="pcard">200</p>
                <i class="bi bi-shop-window"></i>

              </div>
              <p class="textcard">Toutes les boutiques</p>
            </div>
          </div>
          <div class="col-6 col-md-3 pt-3">
            <div class="card">
              
              <div class="haut">
                <p class="pcard">200</p>
                <i class="bi bi-shop-window"></i>

              </div>
              <p class="textcard">Toutes les boutiques</p>
            </div>
          </div>
          <div class="col-6 col-md-3 pt-3">
            <div class="card">
              
              <div class="haut">
                <p class="pcard">200</p>
                <i class="bi bi-shop-window"></i>

              </div>
              <p class="textcard">Toutes les boutiques</p>
            </div>
          </div>
         
        </section>
        
      </div>
    </div>

    <!-- <div class="card">
        <h5>Multi Axis</h5>
        <p-chart></p-chart>
    </div> -->
  </div>

